.input {
  font-size: var(--fs-preset-3);
  font-weight: var(--fw-preset-3);
  width: 100%;
  resize: none;
  display: block;
}

.options {
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-preset-4);
}

@media only screen and (min-width: 768px) {
  .options {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-options {
    display: flex;
  }
}
