.density {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  letter-spacing: var(--ls-4);
  line-height: var(--lh-4);
  color: var(--neutral-4);
}

.list-label {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  letter-spacing: var(--ls-3);
  line-height: var(--lh-3);
  color: var(--neutral-4);
}
