.banner-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-item {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 27px 20px;
  border-radius: 12px;
}

.banner-count {
  font-size: var(--fs-1-m);
  font-weight: var(--fw-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
}

.banner-label {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3);
}

.purple-box {
  background-color: var(--purple-400);
  background-image: url("src/assets/pattern-character-count.svg");
}

.yellow-box {
  background-color: var(--yellow-500);
  background-image: url("src/assets/pattern-word-count.svg");
}

.orange-box {
  background-color: var(--orange-500);
  background-image: url("src/assets/pattern-sentence-count.svg");
}

@media only screen and (min-width: 768px) {
  .banner-list {
    flex-direction: row;
  }

  .banner-item {
    flex-grow: 1;
    height: 150px;
    padding: 25px 16px;
  }

  .banner-count {
    font-size: var(--fs-1);
  }
}
