.density-item {
  display: flex;
}

.density-item {
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-4);
}

.item-category {
  flex-grow: 1;
}

.collapsible-label {
  margin-top: 16px;
  background: none;
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3);
  border: none;
}

.density-content,
.collapsible-label {
  color: var(--neutral-200);
}
