.textbox {
  width: 100%;
  height: 200px;
  resize: none;
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3);
  margin-bottom: 10px;
  border-radius: 12px;
  padding: 13px 11px;
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-700);
}

.textbox:focus {
  outline: none;
}

.textbox-limit-available,
.textbox-limit-available:focus {
  outline-style: solid;
  outline-color: blue;
}

.textbox-limit-reached,
.textbox-limit-reached:focus {
  outline-style: solid;
  outline-color: red;
}

.limit-alert {
  color: red;
}

.limit-input {
  width: 55px;
  height: 23px;
  background-color: transparent;
  border: 1px solid var(--neutral-600);
  color: var(--neutral-0);
}

.sub-input,
.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sub-input {
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-4);
  margin-bottom: 40px;
}

.option-item,
.limit-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.option-item,
.timer-item {
  height: 23px;
}

.textbox,
.sub-input {
  color: var(--neutral-200);
}

@media only screen and (min-width: 768px) {
  .textbox {
    padding: 20px 15px;
  }

  .sub-input,
  .options {
    flex-direction: row;
  }

  .options {
    gap: 24px;
  }

  .sub-input {
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .sub-input {
    margin-bottom: 48px;
  }
}
