.main {
  width: 91.5%;
  max-width: 990px;
  margin: 0 auto;
}

.title {
  font-size: var(--fs-preset-1-m);
  font-weight: var(--fw-preset-1);
  max-width: 510px;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: var(--fs-preset-1);
  }
}
