:root {
  --font-primary: "DM Sans", sans-serif;
  --fs-1: 64px;
  --fs-1-m: 40px;
  --fs-2: 24px;
  --fs-3: 20px;
  --fs-4: 16px;
  --fw-1: 700;
  --fw-2: 600;
  --fw-3: 400;
  --fw-4: 400;
  --lh-1: 100%;
  --lh-2: 130%;
  --lh-3: 140%;
  --lh-4: 130%;
  --ls-1: -1px;
  --ls-2: -1px;
  --ls-3: -0.6px;
  --ls-4: -0.6px;
}

* {
  border: 1px solid black;
}

body {
  width: 100vw;
  font-family: var(--font-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
textarea {
  font: inherit;
}
