.text-input {
  resize: none;
  width: 100%;
  height: 200px;
}

.limit-reached,
.limit-reached:focus {
  outline: 1px solid red;
}

.limit-available,
.limit-available:focus {
  outline: 1px solid purple;
}

.no-limit {
  outline: none;
}
